body {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    background-color: #283747;
    color: #fffcfc;
}

.backgroundDiv {
    background: url("https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_1280.jpg") no-repeat;
    height: 90vh;
    text-align: center;
    background-size: cover;

}

.transparencyDiv {
    background: #00000066;
    height: 100%;
    padding-top: 20px;
}

.startButtons {
    border: none;
    color: black;
    width: auto;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 25px 10px;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: mediumaquamarine;
    transition-duration: 0.4s;
}


table, th, td {
    border: 0.5px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-spacing: 2px 2px;
    empty-cells: hide;
    table-layout: fixed;
    width: 90%;
    background-color: #283747;
}

button {
    border: none;
    color: black;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: mediumaquamarine;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #e7e7e7;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100%;
    height: auto;
}